.rl-ha-type-select {
    font-family: "Trueno", "Helvetica Neue", Arial, sans-serif;
}

.infinite-item i.fa-times {
    display: inline;
}

.infinite-item i.fa-plus {
    display: inline;
}

.rl-display-label {
  font-weight: bold;
  text-align: left;
  width: 1%;
  padding: 0px 6px 0px 0px;
}


.rl-request-form-header {
    font-size: 120%;
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -10px;
    right: -20px;
    color: black;
}

.form-group {
  margin-bottom: 4px;
  float:none;
}

.rl-display-container-cell {
  margin-left: 0px;
  margin-right: 10px;
}

.rl-item-display, td {
  padding-left: 10px !important;
}

.rl-display-spanner {
  padding-left: 2px !important;
}

.rl-ha-expand-help {
  margin-left: 0px;
  text-transform: uppercase;
  font-family: "Trueno", "Helvetica Neue", Arial, sans-serif;
}

.rl-ha-expanded-help {
  text-align: left;
  margin: 10px 100px 10px 0px;
}

.rl-ha-collapsed-help {
  position: relative;
  margin-bottom: 30px;
}

.rl-message-title {
  width: 70%;
  font-size: 120%;
  margin-bottom: 0px;
}

.hvd_hollis-login-link {
  text-decoration: underline;
}

li.expanded_help_list_item:before {
content: '-';
margin-left: -15px;
margin-right: 10px;
}

li.expanded_help_list_item {
  list-style-type: none;
  display: flex;
}