.rl-ha-type-select {
    font-family: "Trueno", "Helvetica Neue", Arial, sans-serif;
}

.archival-discovery {
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}


#header > .row {
  display: flex;
  width: 100%;
  padding-bottom:0;
  padding-top:0;
  padding-left:0;
  padding-right:0;
}

a.hvd_header_title_link {
  color: white;
  font-size: 20px;
}

.nav-row {
  float: left;
  width: 100%;
}

.h1__left {
  width:75%;
  background-color: #147bb7
}

.hvd_brand_title {
  display: flex;
  height: 50px;
  align-items: center;
  list-style: none;
  padding-left: 20px;
  margin-bottom: 0;
}

.h1__right {
  width:25%;
}


.hvd_brand_logo {
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
    display: flex;
    justify-content: center;
    background: #1e1e1e;
}

.hvd_brand_logo img {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}



.infinite-item i.fa-times {
    display: inline;
}

.infinite-item i.fa-plus {
    display: inline;
}

.rl-display-label {
  font-weight: bold;
  text-align: left;
  width: 1%;
  padding: 0px 6px 0px 0px;
}


.rl-request-form-header {
    font-size: 120%;
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -10px;
    right: -20px;
    color: black;
}

.form-group {
  margin-bottom: 4px;
  float:none;
}

.rl-display-container-cell {
  margin-left: 0px;
  margin-right: 10px;
}

.rl-item-display, td {
  padding-left: 10px !important;
}

.rl-display-spanner {
  padding-left: 2px !important;
}

.rl-ha-expand-help {
  display: none;
  margin-left: 0px;
  text-transform: uppercase;
  font-family: "Trueno", "Helvetica Neue", Arial, sans-serif;
}

.rl-ha-expanded-help {
  display: block;
  text-align: left;
  margin: 10px 100px 10px 0px;
}

.rl-ha-collapsed-help {
  position: relative;
  margin-bottom: 30px;
}

.rl-item-list-header {
  display: none;
}

.rl-item-list-header-custom {
  cursor: pointer;
  background-color: #dddedf !important;
  padding: 5px !important;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Trueno", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
}

.rl-item-list-caret{
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  transform: rotate(0deg);
}

.btn-secondary{
  background-color: #0579b8;
  border-color: transparent;
  color: white;
  text-transform: uppercase;
  font-family: "Trueno", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
}

.col-sm-12, .no-pad{
  display: block;
}

.rl-message-title {
  width: 70%;
  font-size: 120%;
  margin-bottom: 0px;
}

.hvd_hollis-login-link {
  text-decoration: underline;
}

li.expanded_help_list_item:before {
content: '-';
margin-left: -15px;
margin-right: 10px;
}

li.expanded_help_list_item {
  list-style-type: none;
  display: flex;
}