.rl-ha-type-select {
    text-transform: uppercase;
    font-family: "Trueno", "Helvetica Neue", Arial, sans-serif;
}

.infinite-item i.fa-times {
    display: inline;
}

.infinite-item i.fa-plus {
    display: inline;
}
